body {
	min-width: 1226px;
	color: #333;
}

.site-header {
	font-size: 12px;
	border-bottom: 2px solid #ff6700;
	background: #fff;
	color: #b0b0b0;
	position: relative;
	z-index: 20;
	height: 100px;
}

.container {
	width: 1226px;
	margin: 0 auto;
	position: relative;
}

.header_logo {
	width: 93px;
	margin-top: 26px;
	float: left;
}

.header_logo a {
	width: 48px;
	height: 48px;
	position: relative;
	display: block;
	overflow: hidden;
	_zoom: 1;
	background-color: #ff6700;
	text-indent: -99999px;
	text-align: left;
}

.site-header a:before {
	background: url(../images/mi-logo.png) no-repeat 50% 50%;
	opacity: 1;
	filter: alpha(opacity=100)\9;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 48px;
	height: 48px;
	content: '';
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.header_logo a::after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	content: '';
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all .2s;
	transition: all .2s;
	width: 48px;
	height: 48px;
	background: url(../images/mi-home.png) no-repeat;
	margin-left: -55px;
	transform: translate3d(0, 0, 0);
	opacity: 0;
}

.header_logo a:hover::before {
	opacity: 0;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(55px, 0, 0);
	transform: translate3d(55px, 0, 0);
}

.header_logo a:hover::after {
	opacity: 1;
	filter: alpha(opacity=0)\9;
	-webkit-transform: translate3d(55px, 0, 0);
	transform: translate3d(55px, 0, 0);
}

.header-title {
	float: left;
	margin-top: 26px;
	height: 48px;
}

.header-title h2 {
	float: left;
	line-height: 48px;
	font-size: 28px;
	font-weight: normal;
	color: #424242;
}

.header-title p {
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 20px;
	margin-left: 15px;
	color: #757575;
}

.topbar-info {
	margin-top: 30px;
	line-height: 40px;
	position: relative;
	float: right;
	height: 40px;
	display: none;
}

.topbar-info .user {
	float: left;
	position: relative;
	width: 110px;
	padding: 0;
	white-space: nowrap;
}

.topbar-info .user .user_name {
	position: relative;
	z-index: 5;
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	color: #757575;
}

.login_1 {
	position: relative;
	float: right;
	height: 40px;
	margin-top: 30px;
	line-height: 40px;
}

.login_1 a::before,
.login_1 a::after {
	display: none;
}

.user-menu li:hover {
	background: #e0e0e0;
}

.topbar-info .user .user-menu li:hover a {
	color: #ff6700;
}

.topbar-info .user .user_name:hover {
	color: #ff6700;
}

.topbar-info .user .user_name::before {
	display: none;
	background: none;
}

.topbar-info .user .user_name .name {
	display: inline-block;
	width: auto;
	_width: 75px;
	max-width: 75px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	_zoom: 1;
	vertical-align: text-bottom;
}

.topbar-info .user .user_name .iconfont {
	font-size: 14px;
	line-height: 14px;
	vertical-align: 12px;
}

.topbar-info .user .user-menu {
	position: absolute;
	left: 0;
	left: -1px;
	top: 40px;
	z-index: 3;
	width: 120px;
	margin: 0;
	padding: 7px 0;
	border: 1px solid #e0e0e0;
	border-top: 0;
	list-style-type: none;
	background: #fff;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	display: none;
}

.topbar-info .user .user-menu a {
	display: block;
	padding: 3px 30px;
	line-height: 2;
	color: #757575;
}

.topbar-info .user .user-menu a::before {
	display: none;
	background: none;
}

.topbar-info .sep {
	color: #e0e0e0;
	font-family: sans-serif;
}

.topbar-info .indent {
	padding: 0 5px;
}

.page-main {
	background: #f5f5f5;
	overflow: hidden;
}

.cart-goods-list {
	background-color: #fff;
}

.cart-goods-list .list_header {
	height: 70px;
	line-height: 70px;
	padding-right: 26px;
	color: #424242;
}

.cart-goods-list .til {
	float: left;
}

.cart-goods-list .list_check {
	width: 110px;
}

.cart-goods-list .list_check i {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #e0e0e0;
	margin-left: 24px;
	background-color: #fff;
	color: #fff;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: -1px;
	cursor: pointer;
	margin-right: 15px;
	font-weight: 700;
}

.cart-goods-list .list_check i:hover {
	color: #333;
}

.cart-goods-list .list_space {
	width: 120px;
}

.cart-goods-list .list_name {
	width: 380px;
}

.cart-goods-list .list_price {
	width: 75px;
	padding-right: 84px;
	text-align: right;
	color: #424242;
}

.cart-goods-list .list_num {
	width: 150px;
	text-align: center;
	color: #424242;
}

.cart-goods-list .list_total {
	width: 120px;
	padding-right: 81px;
	text-align: right;
}

.cart-goods-list .list_operation {
	width: 80px;
	text-align: center;
}

.item_box {
	padding: 15px 26px 15px 0;
	border-top: 1px solid #e0e0e0;
}

.cart-goods-list .item_table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}

.cart-goods-list .item_table::after {
	display: table;
	content: " ";
}

.cart-goods-list .item_table::before {
	display: table;
	content: " ";
}

.cart-goods-list .item_table .item_row {
	display: table-row;
	vertical-align: middle;
	line-height: 80px;
}

.cart-goods-list .item_table .item_row .til img {
	width: 80px;
	height: 80px;
}

.cart-goods-list .item_table .til {
	display: table-cell;
	vertical-align: middle;
}

.cart-goods-list .item_table .name {
	line-height: 1;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #333;
	line-height: 62px;
}

.cart-goods-list .item_table .list_price,
.cart-goods-list .list_num,
.cart-goods-list .list_total {
	font-size: 16px;
}

.cart-goods-list .list_num_1 {
	padding-top: 20px;
}

.cart-goods-list .item_table .change-goods-num {
	width: 148px;
	height: 38px;
	border: 1px solid #e0e0e0;
	text-align: center;
	background-color: #fff;
	position: relative;
	zoom: 1;
}

.cart-goods-list .item_table .change-goods-num a {
	float: left;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #757575;
	font-size: 20px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.cart-goods-list .item_table .goods-num {
	float: left;
	width: 72px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	border-width: 0;
	color: #424242;
	font-size: 16px;
	text-align: center;
}

.del_goods {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 12px;
	color: #757575;
	font-size: 16px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.del_goods:hover {
	color: #fff;
	background-color: #e53935;
}

.space_position {
	margin: 20px 0;
}

.cart-bar {
	height: 50px;
	text-align: right;
	background-color: #fff;
	-webkit-transition: background-color .3s ease, top .3s ease;
	transition: background-color .3s ease, top .3s ease;
	position: relative;
	margin: 20px 0;
}

.section_left {
	float: left;
	text-align: right;
}

.section_left a {
	line-height: 50px;
	margin-left: 32px;
	transition: color .3s;
	-webkit-transition: color .3s;
	color: #757575;
	font-size: 14px;
}

.section_left span.cart_total {
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px solid #eee;
	color: #757575;
}

.section_left span.cart_total i {
	color: #ff6700;
}

.total_price {
	padding-left: 13px;
	color: #ff6700;
}

.total_price .totalPrice {
	font-size: 30px;
}

.btn_price {
	width: 200px;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	margin-left: 50px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid #b0b0b0;
	text-align: center;
}

.btn_priamy {
	background: #ff6700;
	border-color: #ff6700;
	color: #fff;
}

.btn_priamy:hover {
	color: #fff;
}


/* .btn_disabled{
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
    color: #b0b0b0 !important;
    cursor: default !important;
} */